.auto__generator {


}

.auto {
  background-color: #f5f6f6;
}

.car {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 300;
    color: #282d30;
}

.car__item {
  position: relative;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 19px;

  border-bottom: 1px solid red;
  border-top: 1px solid red;
  // e3e4e4
}

.car__name {
  width: 112px;
  float: left;
}

.car__option {
   width: auto;
  font-size: 13px;
  line-height: 13.6px;
  color: #8b9497;
  margin-top: 48px;
}

.car__price {
  width: 100px;
  float: right;
  margin-right: 11px;
}

.car__color {
  float: left;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #000000;
  margin-left: 68px;
}

.car__year {
  width: 40px;
  margin-top: 20px;
}

.car__status {
  width: 80px;
    position: absolute;
  bottom: 20px;
  left: 75px;
}

.button--del {
  position: absolute;
  right: 20px;
  bottom: 14px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 300;
  border-radius: 40px;
  text-transform: none;
  background-color: #282d30;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 8px;
}
