.form {
  padding-left: 10px;
  padding-right: 10px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--data {
  margin-bottom: 40px;
}

.form__fieldset-colors {
  margin-bottom: 30px;
  width: 30%;
}

.form__list {
  .reset-list();
}

.form__item {
  margin-bottom: 30px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__item--left {
   width: 47%;
   float: left;
}

.form__item--right {
  width: 47%;
  float: right;
}

.form__input--data {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

.form__input--data:hover {
  border-bottom: 2px solid #c4092f;
}

.form__input--data:focus {
  outline: 0;
  border-bottom: 2px solid #111111;
}

.form__input--data::placeholder {
    font-size: 12px;
    color: #999999;
}

.form__item--color {
  width: auto;
  margin-right: 32px;
}

.form-input__toggles .form__label {
  position: relative;
}

.form__input-radio {
  display: none;
}

.form-input__toggles {
  display: flex;
  width: 240px;
}

.form__label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 22px;
}

#input-toggle-1:checked ~ .form-input__toggles label[for="input-toggle-1"]::before,
#input-toggle-2:checked ~ .form-input__toggles label[for="input-toggle-2"]::before,
#input-toggle-3:checked ~ .form-input__toggles label[for="input-toggle-3"]::before,
#input-toggle-4:checked ~ .form-input__toggles label[for="input-toggle-4"]::before,
#input-toggle-5:checked ~ .form-input__toggles label[for="input-toggle-5"]::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: -1000;
  background-color: #c4092f;
}

.form__label--white {
  border: 3px solid #dcdcdc;
  background-color: white;
}

 .form__label--black {
  background-color: #000000;
}

.form__label--grey {
  background-color: #cbcbcc;
}

.form__label--orange {
  background-color: #d74345;
}

.form__label--green {
  background-color: #88c504;
}

.filter {
  width: 160px;
  float: left;
}

.filter_menu {
  width: 160px;
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;;
  font-size: 12px;
  color: #999999;
}

.filter_menu ul {
  margin: 0;
  list-style: none;
  padding-left: 9px;
  padding-bottom: 7px;
  display: none;
}

.filter_menu .filter_title::after {
  position: absolute;
  content: '▶ ';
  top: 9px;
  right: 17px;
  font-size: 115%;
  color: #000000;
}

.filter_menu.open .filter_title::after {
  content: '▼ ';
  color: #000000;
}

.filter_menu.open .filter_title {
  border-bottom: 2px solid black;
}

.filter_menu.open ul {
  display: block;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  z-index: 1000;
  border-left: 1px solid #dcdcdc;
  background-color: #ffffff;
  position: absolute;
}

.filter_menu.open ul li {
  margin-top: 4px;
  width: 150px;
}


.filter_menu.open ul li:hover {
  color: #000000;
  cursor: pointer;
}

.filter_title {
  display: block;
  padding-top: 7px;
  padding-right: 121px;
  padding-bottom: 5px;
  padding-left: 9px;
  position: relative;
}

.fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (min-width: @tablet-width) {
  .form {
    padding: 0;
  }

  .form__item {
    width: 31.4%;
  }

  .form__item--tablet-width {
    width: 100%;
    order: 3;
  }

  .form__item--right {
    float: none;
  }

  .form__item--name {
    order: -1;
  }

  .form__item--left {
    order: 1;
  }

  .form__item--right {
    order: -1;
  }

  .form__item--left {
    float: none;
  }

  .form__list--data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__list--color {
    flex: none;
  }

  .form__fieldset-colors {
    width: 30%;
    padding-top: 9px;
  }

  .form__fieldset--data {
    margin-bottom: 31px;
  }

  .fieldset-wrapper {
    justify-content: space-between;
  }

  .filter {
    width: 31.5%;
    float: none;
  }

  .filter_menu {
    width: auto;
  }

  .filter_menu.open ul {
    width: auto;
  }

  .filter_menu.open ul li {
    width: 207px;
  }
}

@media screen and (min-width: @desktop-width) {

  .form__fieldset-colors {
    width: 34%;
  }

  .button--send {
    width: 32%;
    padding-left: 45px;
  }

  .button--send::after {
    left: 69%;
  }

  .filter_menu.open ul li {
    width: 290px;
}

}
